<h1>Enter password to check its strength</h1>
<input #inputPassword
       (input) = "onChange(inputPassword.value)">

<section [ngClass] = "{
gray: strength === NO_VALUE,
red: strength === WEAK || strength === SHORT_VALUE || strength === WEAK,
yellow: strength === MEDIUM,
green: strength === STRONG
}"></section>

<section [ngClass] = "{
gray: strength === NO_VALUE || strength === WEAK,
red: strength === SHORT_VALUE || strength === WEAK,
yellow: strength === MEDIUM,
green: strength === STRONG
}"></section>

<section [ngClass] = "{
gray: strength === NO_VALUE || strength === WEAK || strength === MEDIUM,
red: strength === SHORT_VALUE,
green: strength === STRONG
}"></section>

